* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Shoguns Clan';
	src: url('../fonts/shoguns-clan.woff') format('woff');
}

@font-face {
	font-family: 'Bonzai';
	src: url('../fonts/bonzai.woff') format('woff');

}

body {
	background-color: black;
	max-width: 1500px;
	margin: 0 auto !important;
	float: none !important;
}

.container {
	background: white;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 50px;
	min-height: 500px;
	position: relative;
	z-index: 1;
}

.leftside {
	float: left;
	display: block;
	/*margin-left: -100px;*/

	border:;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	position: absolute;
	left: 550px;
	top: 171px;
	float: ;
	z-index: 10;
}

.ryu-po, 
.ryu-sta, 
.ryu-thr {
	width: 659px;
	height: 494px;
}

.ryu-po, 
.ryu-thr,
.hadouken,
.logo {
	display: none;
}

.ryu-po {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-sta {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-thr {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-po, 
.ryu-sta, 
.ryu-thr,
.hadouken {
	background-repeat: no-repeat;
}

.howto {
	display: inline-block;
	text-align: center;
	width: 700px;
	display: none;
}

.howto p {
	width: 250px;
	height: 250px;
	font-size: 1.7rem;
	font-family: 'Bonzai', 'Orienta', sans-serif;
}

.first {
	float: left;
	max-width: 200px;
}
.second {
	position: absolute;
	left: 235px;
	top: 200px;
}




.rightside {
	height: 425px;
	width: 600px;
	padding-top: 75px;
	position: absolute;
	left: 710px;
	border: ;
}

.logo {
	background-image: url('../images/logo.gif');
	background-repeat: no repeat;
	background-size: cover;
	width: 420px;
	height: 200px;
	position: absolute;
	top: 133px;
}

.jq-logo {
	background-image: url('../images/jq-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center; 
	width: 420px;
	height: 200px;
	position: absolute;
	top: 133px;
	display: none;
}

.presents {
	width: 450px;
	height: 150px;
	font-size: 3.4rem;
	position: absolute;
	top: 268px;
	left: 109px;
	display: none;
}

h2 {
	font-family: 'Shoguns Clan';
}


/*.container {
	max-width: 100%;
	width: 1000px;
	height: 600px;
	margin: 100px auto !important;
	/*float: none !important;-----------------------
	border-top: 5.5px solid red;
	border-bottom: 5.5px solid red;
	background-color: white;
	width: 90%;
	text-align: center;
}

.section {
	max-height: 495px;
	height: 470px;
	margin: 20px auto;
	width: 300px;
	border: 3px solid blue;
	display: inline-block;

}

.section:first-child {
	margin-right: 45px;
}

.leftside {
	/*margin: 0 auto;
	text-align: center;-----------------------

}
.ryu-po {
	margin-left: -100px;
	/*position: relative;-------------------------
	
	height: 450px;
}
*/
