* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Shoguns Clan';
	src: url('../fonts/shoguns-clan.woff') format('woff');
}

@font-face {
	font-family: 'Bonzai';
	src: url('../fonts/bonzai.woff') format('woff');

}

body {
	background-color: black;
	max-width: 1500px;
	margin: 0 auto !important;
	float: none !important;
}

.container {
	background: white;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 50px;
	min-height: 500px;
	position: relative;
	z-index: 1;
}

.leftside {
	float: left;
	display: block;
	/*margin-left: -100px;*/

	border:;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	position: absolute;
	left: 550px;
	top: 171px;
	float: ;
	z-index: 10;
}

.ryu-po, 
.ryu-sta, 
.ryu-thr,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-po, 
.ryu-thr,
.hadouken,
.logo, 
.ryu-cool {
	display: none;
}

.ryu-po {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-sta {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-thr {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-po, 
.ryu-sta, 
.ryu-thr,
.hadouken,
.ryu-cool {
	background-repeat: no-repeat;
}

.howto {
	display: inline-block;
	text-align: center;
	width: 700px;
	display: none;
}

.howto p {
	width: 250px;
	height: 250px;
	font-size: 1.7rem;
	font-family: 'Bonzai', 'Orienta', sans-serif;
}

.first {
	float: left;
	max-width: 200px;
}
.second {
	position: absolute;
	left: 235px;
	top: 200px;
}

.rightside {
	height: 425px;
	width: 600px;
	padding-top: 75px;
	position: absolute;
	left: 710px;
	border: ;
}

.logo {
	background-image: url('../images/logo.gif');
	background-repeat: no repeat;
	background-size: cover;
	width: 420px;
	height: 200px;
	position: absolute;
	top: 133px;
}

.jq-logo {
	background-image: url('../images/jq-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center; 
	width: 420px;
	height: 200px;
	position: absolute;
	top: 133px;
	display: none;
}

.presents {
	width: 450px;
	height: 150px;
	font-size: 3.4rem;
	position: absolute;
	top: 268px;
	left: 109px;
	display: none;
}

h2 {
	font-family: 'Shoguns Clan';
}

/* BUTTON OFF */

.btn {
	-moz-box-shadow: 0px 0px 16px 0px #c21b1b;
	-webkit-box-shadow: 0px 0px 16px 0px #c21b1b;
	box-shadow: 0px 0px 16px 0px #c21b1b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e10000), color-stop(1, #ed0000));
	background:-moz-linear-gradient(top, #e10000 5%, #ed0000 100%);
	background:-webkit-linear-gradient(top, #e10000 5%, #ed0000 100%);
	background:-o-linear-gradient(top, #e10000 5%, #ed0000 100%);
	background:-ms-linear-gradient(top, #e10000 5%, #ed0000 100%);
	background:linear-gradient(to bottom, #e10000 5%, #ed0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e10000', endColorstr='#ed0000',GradientType=0);
	background-color:#e10000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #5a0000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:3px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position: absolute;
	top: 444px;
	left: 305px;
	display: ;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed0000), color-stop(1, #e10000));
	background:-moz-linear-gradient(top, #ed0000 5%, #e10000 100%);
	background:-webkit-linear-gradient(top, #ed0000 5%, #e10000 100%);
	background:-o-linear-gradient(top, #ed0000 5%, #e10000 100%);
	background:-ms-linear-gradient(top, #ed0000 5%, #e10000 100%);
	background:linear-gradient(to bottom, #ed0000 5%, #e10000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0000', endColorstr='#e10000',GradientType=0);
	background-color:#ed0000;
}
.btn:active {

}

/*BUTTON ON*/

.btn2 {
	-moz-box-shadow: 0px 0px 16px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 16px 0px #3dc21b;
	box-shadow: 0px 0px 16px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:3px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position: absolute;
	top: 444px;
	left: 305px;
	display: none;
}
.btn2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}




























/*.container {
	max-width: 100%;
	width: 1000px;
	height: 600px;
	margin: 100px auto !important;
	/*float: none !important;-----------------------
	border-top: 5.5px solid red;
	border-bottom: 5.5px solid red;
	background-color: white;
	width: 90%;
	text-align: center;
}

.section {
	max-height: 495px;
	height: 470px;
	margin: 20px auto;
	width: 300px;
	border: 3px solid blue;
	display: inline-block;

}

.section:first-child {
	margin-right: 45px;
}

.leftside {
	/*margin: 0 auto;
	text-align: center;-----------------------

}
.ryu-po {
	margin-left: -100px;
	/*position: relative;-------------------------
	
	height: 450px;
}
*/
